doctype html

html
  head
    title Sticker app
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      h1 #[a(href="http://localhost:3000/stickers") Stickers]
    block content
