extends layout

block content
  form(method="POST" action="/new_sticker_save")
    input(type="text" , name="title" , placeholder="Title")
    br
    input(type="text" , name="descreption" , placeholder="Descreption")
    br
    input(type="number" , name="rating" , placeholder="Rating")
    br
    input(type="text" , name="url" , placeholder="Url")
    br
    button(type="submit") Submit 