extends layout

block content
  ul
    for sticker in stickers
      li #[a(href="http://localhost:3000/sticker/#{sticker.id}") #{sticker.title}]
    else
      li Sorry, No stickers added yet!

  a(href="http://localhost:3000/new_sticker") New sticker
      
  