extends layout
block content
    h1 #{sticker.title}

    ul
        li Title : #{sticker.title}
        li Descreption ; #{sticker.descreption}
        li Rating : #{sticker.rating}
        li Url : #{sticker.url}

    a(href="http://localhost:3000/update_sticker/#{sticker.id}") Edit sticker
    br
    a(href="http://localhost:3000/delete_sticker/#{sticker.id}") Delete sticker
