extends layout

block content
  form(method="POST" action="/update_sticker_save/#{id}")
    input(type="text" , name="title" , placeholder="Title" , value="#{sticker.title}")
    br
    input(type="text" , name="descreption" , placeholder="Descreption" , value="#{sticker.descreption}")
    br
    input(type="number" , name="rating" , placeholder="Rating" , value="#{sticker.rating}")
    br
    input(type="text" , name="url" , placeholder="Url" , value="#{sticker.url}")
    br
    button(type="submit") Save changes 